<div class="mydiv col-lg-10 col-lg-offset-1">
        <div class="alert alert-warning alert-info">
            <i class=" icon-info-sign icon-alert-info"></i>您的网络连接有问题。
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                HTML代码
            </div>
            <div class="panel-body">
                <div class="code">
                    <span class="code-bracket">&lt;</span>
                    <span class="code-div">div </span>
                    <span class="code-class">class= </span>
                    <span class="code-class-name">"alert alert-warning alert-info"</span>
                    <span class="code-bracket">&gt;</span><br/>
                    <span class="code-bracket code-margin" >&lt;</span>
                    <span class="code-div">i</span>
                    <span class="code-class"> class=</span>
                    <span class="code-class-name">"icon-info-sign icon-alert-info"</span>
                    <span class="code-bracket">&gt;</span>
                    <span class="code-bracket">&lt;</span>
                    <span class="code-div">/i </span>
                    <span class="code-bracket">></span>
                    <span class="code-content">您的网络连接有问题。</span><br/>
                    <span class="code-bracket">&lt;</span>
                    <span class="code-div">/div </span>
                    <span class="code-bracket">&gt;</span>
                </div>
            </div>
        </div>
        <div class="alert alert-warning alert-info">
            <a href="#" class="close close-info" data-dismiss="alert">
                &times;
            </a>
            <i class=" icon-info-sign icon-alert-info"></i>您的网络连接有问题。
        </div>

        <div class="alert alert-warning alert-success">
            <i class=" icon-ok-sign icon-alert-success"></i>上传资料成功
        </div>
        <div class="alert alert-warning alert-success">
            <a href="#" class="close close-success" data-dismiss="alert">
                &times;
            </a>
            <i class=" icon-ok-sign icon-alert-success"></i>上传资料成功
        </div>

        <div class="alert alert-warning alert-error">
            <i class=" icon-remove-sign icon-alert-error"></i>您的网络连接有问题。
        </div>
        <div class="alert alert-warning alert-error">
            <a href="#" class="close close-error" data-dismiss="alert">
                &times;
            </a>
            <i class="  icon-remove-sign icon-alert-error"></i>您的网络连接有问题。
        </div>

        <div class="alert alert-warning alert-warning-info">
            <i class=" icon-info-sign icon-warning-info"></i>您的网络连接有问题。
        </div>
        <div class="alert alert-warning alert-warning-info">
            <a href="#" class="close close-warning" data-dismiss="alert">
                &times;
            </a>
            <i class=" icon-info-sign icon-warning-info"></i>您的网络连接有问题。
        </div>
    </div>
