<div class=" mydiv col-lg-10 col-lg-offset-1">
    <div class="mybtn">
        <button class="btn-big btn-info">大号按钮</button>
        <button class="btn-med btn-info">中号按钮</button>
        <button class="btn-sm btn-info">小号按钮</button>

        <button class="btn-med btn-info">信息按钮</button>
        <button class="btn-med btn-sub">确认按钮</button>
        <button class="btn-med btn-danger">危险按钮</button>
        <button class="btn-med btn-simple">幽灵按钮</button>
    </div>
<!-- 按钮组 -->
    <div class="btn-group">
        <button type="button" class="btn btn-default">按钮 1</button>
        <button type="button" class="btn btn-default">按钮 2</button>
        <button type="button" class="btn btn-default disabled-btn " disabled>按钮 3</button>
        <div class="btn-group">
            <button type="button" class="btn  dropdown-toggle dropdown-btn" data-toggle="dropdown">
                下列
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">下拉链接 1</a></li>
                <li><a href="#">下拉链接 2</a></li>
            </ul>
      </div>
    </div>
</div>
