<div class="mydiv col-lg-10 col-lg-offset-1">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="cart-title">卡片主体</span>
            <span class="cart-more"><a href="#">更多操作</span>
        </div>
        <div class="panel-body">
            <div class="cart-content" style="height: 200px;background: #ccc;width: 100%;"></div>
        </div>
        <div class="panel-footer">
            <button class="btn-med btn-info">信息按钮</button>
            <button class="btn-med btn-sub">第二按钮</button>
        </div>
    </div>
</div>
