<div class="mydiv col-md-10 col-md-offset-1 ">
    <div class="color-bule color-style col-lg-3" >
        <div class="blue-light color-li">背景颜色blue-light：#CEEFFF</div>
        <div class="blue-bright color-li">背景颜色blue-bright：#73C8F2</div>
        <div class="blue color-li">背景颜色blue：#1EAAF0</div>
        <div class="blue-dark color-li">背景颜色blue-dark：#1893D1</div>
    </div>
    <div class="color-green color-style col-lg-3">
        <div class="green-light color-li" >背景颜色green-light：#DBF3E7</div>
        <div class="green-bright color-li">背景颜色green-bright：#5ACD82</div>
        <div class="green color-li">背景颜色green：#1FC659</div>
        <div class="green-dark color-li">背景颜色green-dark：#1BA94C</div>
    </div>
    <div class="color-yellow color-style col-lg-3">
        <div class="yellow-light color-li">背景颜色yellow-light：#F7EFC8</div>
        <div class="yellow-bright color-li">背景颜色yellow-bright：#FFCA50</div>
        <div class="yellow color-li">背景颜色yellow：#F3A10B</div>
        <div class="yellow-dark color-li">背景颜色yellow-dark：#D89314</div>
    </div>
    <div class="color-red color-style col-lg-3"">
        <div class="red-light color-li">背景颜色B1：#FBE1E2</div>
        <div class="red-bright color-li">背景颜色B2：#FF7157</div>
        <div class="red color-li">背景颜色B3：#FB532F</div>
        <div class="red-dark color-li">背景颜色B4：#D74425</div>
    </div>
    <div class="color-cyan color-style col-lg-3">
        <div class="cyan-light color-li">背景颜色cyan-light：#D0F6EE</div>
        <div class="cyan-bright color-li">背景颜色cyan-bright： #77DEC7</div>
        <div class="cyan color-li">背景颜色cyan：#17CDA6</div>
        <div class="cyan-dark color-li">背景颜色cyan-dark： #13AD8B</div>
    </div>
    <div class="color-black color-style col-lg-3">
        <div class="black-light color-li">背景颜色black-light：#EDEDEE</div>
        <div class="black-bright color-li">背景颜色black-bright：#D2D5D9</div>
        <div class="black color-li">背景颜色black：#B4B6BA</div>
        <div class="black-dark color-li">背景颜色black-dark：#999CA1</div>
        <div class="black-deep color-li">背景颜色black-deep：#575C60</div>
        <div class="black-deeper color-li">背景颜色black-deeper：#212429</div>
    </div>
</div>
