<div class="mydiv col-lg-10 col-lg-offset-1">
    <!-- 输入框 -->
    <div class="col-lg-10">
        <h3>输入框：</h3>
        <input type="input-text" class="input-text  col-lg-10"  placeholder="请输入帐号" />
    </div>
    <!-- 文本域 -->
    <div  class="col-lg-10">
        <h3>文本域：</h3>
        <textarea class="textarea-text col-lg-10"></textarea>
    </div>
    <!-- 单选按钮 -->
    <div  class="col-lg-10">
        <h3>单选按钮</h3>
        <input id="radio-1" name="radio1" type="radio" checked><label for="radio-1"></label>选项1
        <input id="radio-2" name="radio2" type="radio"><label for="radio-2"></label>选项2
    </div>

    <div class="col-lg-10">
        <h3>多选按钮</h3>
        <div class="has-success">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" id="checkboxSuccess" value="option1">
              <span>Checkbox with success</span>
            </label>
          </div>
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" id="checkboxSuccess" value="option2">
              <span>Checkbox with success2</span>
            </label>
          </div>
        </div>
    </div>

    <!-- 点击 下拉框 -->
    <div class="col-lg-10">
        <h3>下拉框</h3>
        <div class="btn-group-vertical">
            <button type="button" class="btn dropdown-toggle dropdown-btn" data-toggle="dropdown">
                下拉
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">下拉链接 1</a></li>
                <li><a href="#">下拉链接 2</a></li>
            </ul>
        </div>
        <!-- 鼠标移上去 下拉框 -->
        <div class="btn-group-vertical">
            <p class="dropdown-move" >
                下拉
                <span class="caret"></span>
            </p>
            <ul class="move-menu dropdown-menu">
                <li><a href="#">下拉链接 1</a></li>
                <li><a href="#">下拉链接 2</a></li>
            </ul>
        </div>
    </div>
</div>
